<div class="container mt-5">
    <!-- Admin Section -->
    <div class="row">
        <div class="col-md-12">
            <div class="card-container">
                <div class="card" id="AddnewCourses" onclick="redirectToController('/ManageCoursesAdmin/index','AddnewCourses')">
                    <div class="card-body">
                        <div>
                            <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z" fill="#1C274C" />
                            </svg>
                        </div>
                        <div>
                            <h5 class="card-title">Add new Courses</h5>
                            <p class="card-text">Click to Add new Courses </p>
                        </div>
                    </div>
                </div>
                <div class="card" id="DeleteCourses" onclick="redirectToController('/ManageCoursesAdmin/index','DeleteCourses')">
                    <div class="card-body">
                        <div>
                            <svg width="50px" height="50px" viewBox="0 -0.19 20.414 20.414" xmlns="http://www.w3.org/2000/svg" fill="#000000">

                                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                                <g id="SVGRepo_iconCarrier"> <g id="delete-user-left-8" transform="translate(-1.586 -1.974)"> <path id="secondary" fill="#2a2c74" d="M11,17a6,6,0,0,0-3.4-5.4A6,6,0,1,1,19,9a5.94,5.94,0,0,1-1.34,3.77,1,1,0,0,0,.28,1.45A7,7,0,0,1,21,20a1,1,0,0,1-1,1H9.46A5.93,5.93,0,0,0,11,17Z" /> <line id="primary" x1="3" y2="3" transform="translate(3 15)" fill="none" stroke="#421414" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /> <line id="primary-2" data-name="primary" x2="3" y2="3" transform="translate(3 15)" fill="none" stroke="#421414" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /> <path id="primary-3" data-name="primary" d="M10,21H20a1,1,0,0,0,1-1,7,7,0,0,0-3.06-5.78,1,1,0,0,1-.28-1.45A5.94,5.94,0,0,0,19,9,6,6,0,0,0,7.08,8a5.9,5.9,0,0,0,.27,3" fill="none" stroke="#421414" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /> </g> </g>

                            </svg>
                        </div>
                        <div>
                            <h5 class="card-title">Delete Courses</h5>
                            <p class="card-text">Click to Delete Courses</p>
                        </div>
                    </div>
                </div>

                <div class="card" id="EditCourses" onclick="redirectToController('/ManageCoursesAdmin/index','EditCourses')">
                    <div class="card-body">
                        <div>
                            <svg fill="#000000" width="50px" height="50px" viewBox="0 0 24 24" id="edit-circle" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><circle id="primary" cx="12" cy="12" r="10" style="fill: rgb(0, 0, 0);"></circle><path id="secondary" d="M20.91,4.5,19.5,3.09a2,2,0,0,0-2.83,0L10.24,9.51a1,1,0,0,0-.29.73L10,13a1,1,0,0,0,1,1l2.78.05h0a1,1,0,0,0,.71-.29l6.42-6.43A2,2,0,0,0,20.91,4.5Z" style="fill: rgb(44, 169, 188);"></path></svg>
                        </div>
                        <div>
                            <h5 class="card-title">Edit Courses</h5>
                            <p class="card-text">Click to Edit Courses</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card" id="EnrollCourses" onclick="redirectToController('/ManageCoursesAdmin/index','EnrollCourses')">
                <div class="card-body">
                    <div>
                        <svg width="50px" height="50px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="512" cy="512" r="512" style="fill:#112e51" />
                            <path d="m458.15 617.7 18.8-107.3a56.94 56.94 0 0 1 35.2-101.9V289.4h-145.2a56.33 56.33 0 0 0-56.3 56.3v275.8a33.94 33.94 0 0 0 3.4 15c12.2 24.6 60.2 103.7 197.9 164.5V622.1a313.29 313.29 0 0 1-53.8-4.4zM656.85 289h-144.9v119.1a56.86 56.86 0 0 1 35.7 101.4l18.8 107.8A320.58 320.58 0 0 1 512 622v178.6c137.5-60.5 185.7-139.9 197.9-164.5a33.94 33.94 0 0 0 3.4-15V345.5a56 56 0 0 0-16.4-40 56.76 56.76 0 0 0-40.05-16.5z" style="fill:#fff" />
                        </svg>
                    </div>
                    <div>
                        <h5 class="card-title">Enroll Courses</h5>
                        <p class="card-text">Click to Enroll Courses</p>
                    </div>
                </div>
            </div>
        </div>
                </div>
            </div>
        

    <!-- Admin Section -->



<script>
    function redirectToController(url, cardId) {
        const cards = document.querySelectorAll('.card');
        cards.forEach(card => {
            card.classList.remove('selected');
        });

        // Add "selected" class to the clicked card
        const selectedCard = document.getElementById(cardId);
        selectedCard.classList.add('selected');

        window.location.href = url;
    }
</script>
