
@{
    ViewBag.Title = "ViewAnnouncements";
}

<h2>View Announcements</h2>

<p>
    جامعة عمان الاهلية تعلن عن عقدة دورة تدريبية بعنوان التخطيط الاستراتيجي في معهد العلوم الانسانسية الساعة 12:00م-02:00م يوم السبت 2-9-2023 و سوف يتم احتساب 5 ساعات خدمه مجتمع عند الحضور


</p>

